{% extends 'base.html.twig' %}

{% block content %}
	<h1>Inscription</h1>

	{% if notification %}
		<div class="alert alert-info">
			{{ notification }}
			<hr>
		</div>
	{% endif %}


	{{ form_start(form) }}

	{{ form_errors(form) }}

	<div class="row">
		<div class="col">
			{{ form_row(form.firstname)  }}
		</div>
		<div class="col">
			{{ form_row(form.lastname)  }}
		</div>
	</div>

	<div class="row">
		<div class="col">
			{{ form_row(form.email)  }}
		</div>
	</div>

	<div class="row">
		<div class="col">
			{{ form_row(form.password)  }}
		</div>
		{# <div class="col">
											{{ form_row(form.password_confirm)  }}
										</div> #}
	</div>

	<button type="submit" class="btn btn-primary">Login</button>

	{{ form_end(form) }}

{% endblock %}
